{% extends "base.html" %}

<title>
    {% block title %} Cadastro de Produtos {% endblock %}
</title>

{% block content %}
<style>
  td {
      text-align: center;
  }

  #btnEdit{
    margin-left: 50px;
    background-color: orange;
  }
  a{
    text-decoration: none;
    color: white;
    cursor: none;
  }
</style>

<div style="margin-top: 30px" class="container col-md-8">
    <table class="table table-striped">
      <thead style="background-color: blue; color: white; text-align: center">
        <tr">
          <th scope="col">código</th>
          <th scope="col">nome</th>
          <th scope="col">preço</th>
          <th scope="col">estoque mínimo</th>
          <th scope="col">saldo no estoque</th>
          <th scope="col">observação</th>
          <th scope="col">funções</th>
        </tr>
      </thead>
      <tbody>
        {% for i in range(1, tam + 1) %}
          <tr>
            <td scope="row">{{ produtos.query.filter_by().get(i).id }}</td>
            <td>{{ produtos.query.filter_by().get(i).nome }}</td>
            <td>R$ {{ produtos.query.filter_by().get(i).preco }},00</td>
            <td>{{ produtos.query.filter_by().get(i).estoque_minimo }}</td>
            <td>{{ produtos.query.filter_by().get(i).saldo_estoque }}</td>
            <td>{{ produtos.query.filter_by().get(i).observacao }}</td>
            <td>
              <a href="atualizar/{{ produtos.query.filter_by().get(i).id}}">
                <button id="btnEdit" type="button" class="btn btn-success">
                  Editar
                </button>
              </a>

              <a href="deletar/{{ produtos.query.filter_by().get(i).id}}">
                <button id="btnDel" type="button" class="btn btn-danger">
                          Excluir
                </button>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
</div>

<div class="container col-md-8">
  <a href="{{ url_for('cadastrar') }}"><button style="background-color: blue;" type="button" class="btn col-md-12 btn-primary">Cadastrar</button></a>
</div>

{% endblock %}
