{% extends "base.html" %}

<title>
    {% block title %} Cadastro de Produtos {% endblock %}
</title>

{% block content %}
<style>
  td {
      text-align: center;
  }

  #btnEdit{
    margin-left: 50px;
    background-color: orange;
  }
  a{
    text-decoration: none;
    color: white;

  }
</style>

<div class="container col-md-8">
  <a href="{{ url_for('cadastrar') }}"><button style="background-color: green;" type="button" class="btn col-md-12 btn-primary">Cadastrar</button></a>
</div>

<div style="margin-top: 30px" class="container col-md-8">

    <table class="table table-striped">
      <thead style="background-color: blue; color: white; text-align: center">
        <tr>
          <th scope="col">código</th>
          <th scope="col">nome</th>
          <th scope="col">preço</th>
          <th scope="col">estoque mínimo</th>
          <th scope="col">saldo no estoque</th>
          <th scope="col">observação</th>
          <th scope="col">funções</th>
        </tr>
      </thead>
      <tbody>
        {% for i in produto %}
              <tr>
                <td scope="row">{{ i.id }}</td>
                <td>{{ i.nome }}</td>
                <td class="col-md-1">R$ {{ i.preco }}</td>
                <td>{{ i.estoque_minimo }}</td>
                {% if i.saldo_estoque < i.estoque_minimo %}
                    <td style="color: red;">{{ i.saldo_estoque }}</td>
                {% else %}
                    <td>{{ i.saldo_estoque }}
                {% endif %}
                <td>{{ i.observacao }}</td>
                <td class="col-md-3">
                  <a href="atualizar/{{ i.id}}">
                    <button id="btnEdit" type="button" class="btn btn-success">
                      Editar
                    </button>
                  </a>
                  <a href="deletar/{{ i.id}}">
                    <button id="btnDel" type="button" class="btn btn-danger">
                              Excluir
                    </button>
                  </a>
                </td>
              </tr>

        {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}
